<div class="container">
    <div class="row">
        <h2 class="text-center mt-3">Recent Posts:</h2>
        {{#each loadPosts}}
        <div class="container border mt-3">
             <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>{{this.title}}</h3>
                    </div>  
                    <div class="col">
                        <p class="text-right">by <strong>{{this.user}}</strong></p>
                    </div>
               <p>{{this.text}}</p>
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</div>