<h2>Write about tech</h2>
    <form>
        <input placeholder="Title" id="title">
        <textarea id="textArea"></textarea>
        <button type="submit" id="submitBtn">Post Review</button>
    </form>


<script src="/js/blogpost.js"></script>