<div class="container">
    <div class="row">
        
        <h2 class="text-center">Write about tech</h2>
    </div>
    <form>
        <div class="row">
            <input placeholder="Title" id="title">
        </div>
        <div class="row">
            <textarea id="textArea" style="height: 100px"></textarea>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" id="submitBtn">Post Review</button>
        </div>
    </form>
</div>
<script src="/js/blogpost.js"></script>